---
import {formatPaths} from "../../utilities";
import DefaultLayout from "../../layouts/DefaultLayout.astro"
import TextSection from "../../sections/projekte/TextSection.astro"
import TextImageSection from "../../sections/projekte/TextImageSection.astro";
import SponsorsSection from "../../sections/projekte/SponsorsSection.astro";

export async function getStaticPaths() {
  const projekte = await Astro.glob("../../content/projekte/*.md");
  let pathList = []

  projekte.map((projekt) => {
    pathList.push({
      params: {
        projekt: formatPaths(projekt.file).replace(".md", "")
      },
      props: {
        projekt
      }
    })
  })
  
  return pathList;
}

const { frontmatter } = Astro.props.projekt
---

<DefaultLayout title="Projekte">
  <h1>{frontmatter.title}</h1>
  {frontmatter.content.map((section) => {
    if (section._template == "text") {
      return <TextSection text={section.content} />
    } else if(section._template == "text_image"){
      return <TextImageSection text={section.content} image={section.image} />
    } else if (section._template == "sponsors") {
      return <SponsorsSection sponsors={section.sponsors} />
    }
  })}
</DefaultLayout>